In [33]:
import sqlite3

In [34]:
conn = sqlite3.connect('vegetables.db')

In [35]:
c = conn.cursor()

In [36]:
c.execute(""" CREATE TABLE vegetables(
               vegetable text,
                season text,
                month text,
                temperature integer
                )""")

c.execute("INSERT INTO vegetables VALUES ('onion', 'winter', 'jan', '15')")
c.execute("INSERT INTO vegetables VALUES ('potato', 'summer', 'apr', '35')")
c.execute("INSERT INTO vegetables VALUES ('tomato', 'winter', 'jan', '15')")

c.execute("SELECT * FROM vegetables WHERE month = 'jan'")

print(c.fetchall())

conn.commit()

conn.close()

[('onion', 'winter', 'jan', 15), ('tomato', 'winter', 'jan', 15)]